.navbar-container{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 1rem;
    scroll-behavior: smooth;
    
}
.logo{
    cursor: pointer;
}


.navbar-list{
    display: flex;
    list-style: none;

}

.active{
    position: absolute;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    margin-top: 72px;
    background-color: rgba(226, 124, 124, 0.8);
    transition: 0.9s;
    
}
.active .nav-item{
    padding: 1rem;
}

.nav-item{
    margin: 1rem 6rem;
    text-transform: uppercase;
    font-family: 'Fredoka One', cursive;
    cursor: pointer;
}
.humberger{
    cursor: pointer;
}
.FaTimes{
    color: rgb(0, 0, 0);
    cursor: pointer;
   
}
@media screen and (max-width:1000px) {
    .nav-item{
        margin: 1rem;
        
    }   
}

@media screen and (max-width:500px) {
    .navbar-list {
        position: absolute;
        left: -200%;
    }

    .active {
        left: 0;
    }
}